{% extends 'assistapp/base.html' %}

{% block content %}
<h2>add_detail.html</h2>
<form action="{% url 'assistapp:add_detail' event.id %}" method='post'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="detailName" class="form-label">Task Name</label>
        <input name="name" type="text" class="form-control" id="detailName">
    </div>

    <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date</label>
        <input name="due_date" type="datetime-local" class="form-control" id="dueDate">
    </div>

    <div class="mb-3">
        <label for="detailNotes" class="form-label">Notes</label>
        <input name="notes" type="text" class="form-control" id="detailNotes">
    </div>

    <div>
        <label for="detailNotes" class="form-label">Priority</label>
        <select name="priority" class="form-select" aria-label="Priority Selection">
            <option value="High">High</option>
            <option selected value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="detailImage" class="form-label">Images</label>
        <input name="image" type="file" class="form-control" id="detailImage">
    </div>

    <button class="btn btn-info" type="submit">Go</button>
</form>

{% endblock %}