{% extends 'assistapp/base.html' %}

{% block content %}
<h2 class="title_text text-center mt-2 mb-4">Edit {{task.name}}</h2>


<form action="{% url 'assistapp:edit_task' task.id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %} Task Name {% endcomment %}
    <div class="row mb-3 mt-4">
        <label for="taskName" class="form-label">Task Name<span class="tiny_text align-top">*required</span></label>
        <input value="{{ task.name }}" name="name" type="text" class="form-control edit_text" id="taskName" required>
    </div>

    {% comment %} Due Date {% endcomment %}
    <div class="row mb-3 mt-4">
        <label for="dueDate" class="form-label">Due Date<span class="tiny_text align-top">*required</span></label>
        <input value="{{ task.due_date|date:'Y-m-d\Th:i' }}" name="due_date" type="datetime-local"
            class="form-control edit_text" id="dueDate" required>
    </div>

    {% comment %} Notes {% endcomment %}
    <div class="row mb-3 mt-4">
        <label for="taskNotes" class="form-label">Notes</label>
        <input value="{{ task.notes }}" name="notes" type="text" class="form-control edit_text" id="taskNotes">
    </div>

    {% comment %} Priority {% endcomment %}
    <div class="row mb-3">
        <label for="taskNotes" class="form-label p-0">Priority</label>
        <select name="priority" class="form-select" aria-label="Priority Selection">
            <option {% if task.priority == "High" %} selected {% endif %} value="High">High</option>
            <option {% if task.priority == "Medium" %} selected {% endif %} value="Medium">Medium</option>
            <option {% if task.priority == "Low" %} selected {% endif %} value="Low">Low</option>
        </select>
    </div>

    {% comment %} Image {% endcomment %}
    {% if task.image %}
    <div class="row mt-4">
        <div class="form-text col-md-6">
            <label for="existingImage" class="form-label">Leave your current picture...</label>
            <img class="image_direct" id="existingImage" src="{{ task.image.url }}" alt="">
            <span class="tiny_text">Remove Picture</span>
            <input type="checkbox" name="clear_image"/>
        </div>

        <div class="image_divider col-md-1"></div>

        <div class="col-md-5">
            <label for="taskImage" class="form-label">or choose a new one</label>
            <input type="file" value="{{ task.image.url }}" placeholder="{{ task.image.url }}" name="image"
                class="form-control edit_text " id="taskImage" accept="image/*">
            </div>   
    </div>
    {% else %}
    <div class="row">
    <span><label for="taskImage" class="form-label">Image</label></span>
    <input type="file" value="" name="image" class="form-control edit_text" id="taskImage" accept="image/*">
    </div>
    {% endif %}
    

    {% comment %} Button {% endcomment %}
    <div class="text-center">
        <button class="btn edit_button col-md-4 mt-5" type="submit">Go</button>
    </div>

    <br>
    <br>
    <br>

</form>

{% endblock %}