{% extends 'assistapp/base.html' %}
{% block content %}

<h2> My Events </h2>

{% for event in user_events %}
<div class="row ms">
    <div class="col-md-6">
        <a href="{% url 'assistapp:task_list' event_id=event.id %}">{{event.title}}</a>
    </div>


    <a href="{% url 'assistapp:task_list' event_id=event.id %}" class="btn btn-info col-md-2">Detail</a>

    <a href="{% url 'assistapp:task_list' event_id=event.id %}" class="btn btn-info col-md-2">View Tasks</a>

    <a href="{% url 'assistapp:show_edit_event' pk=event.pk %}" class="btn btn-info col-md-2">Edit</a>

    <a href="{% url 'assistapp:delete_event' pk=event.pk %}" class="btn btn-info col-md-2">Delete</a>
</div>

{% endfor %}

<a class="btn btn-info" href="{% url 'assistapp:show_add_event' %}">Add an Event</a>
{% endblock %}

