{% extends 'assistapp/base.html' %}
{% block content %}

{% comment %} Page Title  {% endcomment %}
<h2 class="title_text text-center mt-2 mb-4">Past Events</h2>


{% for event in past_dates %}
<div class="row">
    {% comment %} Event titles. Clicking on them leads to the task_list.html for that event {% endcomment %}
    <div class="col-md-5">
        <a class='event_text' href="{% url 'assistapp:task_list' event_id=event.id %}">{{event.title}}</a>
    </div>
    {% comment %} View the event's tasks, edit the event, or delete the event  {% endcomment %}
    <a href="{% url 'assistapp:task_list' event_id=event.id %}" class="btn col-md-2 event_button">More Info</a>
    <a href="{% url 'assistapp:show_edit_event' pk=event.pk %}" class="btn col-md-2 event_button">Edit</a>
    <a href="{% url 'assistapp:delete_event' pk=event.pk %}" class="btn col-md-2 event_button">Delete</a>
    <hr>
</div>
{% endfor %}

{% comment %} Submit button  {% endcomment %}

<a class="btn add_event_button" href="{% url 'assistapp:my_events' %}">Back to my events</a>


{% endblock %}