{% extends 'assistapp/base.html' %}

{% block content %}


{% for task in event.tasks.all %}
<h1 class="title_text text-center mt-2 mb-4">{{ event.title }}</h1>

<div class="row">
    <div class="event_text col-md-5">{{ task.name }}</div class="event_text col-md-5">
    <a class="btn btn-info col-md-3 event_button" href="{% url 'assistapp:delete_task' pk=task.pk  %}">Delete Task</a>
    <a class='btn btn-info col-md-2 event_button' href="{% url 'assistapp:show_edit_task' id=task.id %}">Edit Task</a>
</div>
<div class="task_list_box">
    <div class="row">
        <span class="task_text">Priority: {{ task.priority }}</span>
    </div>

    <div class="row">
        <span class="task_text">Notes: {{ task.notes }}</span>
    </div>

    <div class="row">
        <span class="task_text">Due Date: {{ task.due_date }}</span>
    </div>
</div>

{% if task.image %}
<div class="row image_style">
    <img class="image_direct" src="{{task.image.url}}">
</div>
{% endif %}
<hr>
{% endfor %}

<div class=" row justify-content-evenly">
    <a class='col-md-4 btn btn-info task_controls' href="{% url 'assistapp:my_events' %}">Back to my events</a>
    <a class="col-md-4 btn btn-info task_controls" href="{% url 'assistapp:show_add_task' event.id  %}">Add Task</a>
</div>

{% endblock %}