header {
    background-color: #68d3af;
}

body, html {
    overflow: auto;
    min-height: 100vh;
    background-image: url('images/background.webp');
    background-size: cover;
}

label {
    font-family: 'Paprika', cursive;
    font-weight: bold;
    font-size: 18px;
    color: black;
}


            /* Header Styling and Buttons */
/* Welcome user  */
.welcome_text {
    font-family: 'Paprika', cursive;
    font-size: 20px;
    font-weight: bold;
}

/* Sets the header to full width */
.header_container {
    width: 100% !important;
    padding: 0 !important;
}

/* App name */
.assist_logo {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    margin-left: 50px;
    font-style: italic;
}




/* buttons in the base header; also used in login/logout  */
.header_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: #FDC7D7 !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #FDC7D7 !important;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: center !important;
}

.header_button:hover {
    background-color: #FF9DE6;
    box-shadow: rgb(27, 27, 27);
    border-color: #FF9DE6;
}


         /* Text and titles within the program  */
/* Page titles, such as My Events  */
.title_text {
    font-family: 'Paprika', cursive;
    font-size: 40px;
    font-weight: bold;
}

/* Event and task names  */
.event_text {
    text-decoration: none;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 22px;
    color: black;
}

/* Task list text  */
.task_text {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
}

        /* Misc.  */
/* Controls how the image appears  */
.image_direct {
    padding: 0 !important; 
    border: 1px solid slategray;
    border-radius: 5px;
    max-width: 350px;
    margin-left: 13px;
}

/* The box around the details within the task_list.html template  */
.task_list_box {
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}

/* The vertical line on edit_task.html  */
.image_divider {
    border-left: 1px solid black;
    max-height: 500px;
}

/* Clears the picture on edit_task.html */
.tiny_text {
    font-family: 'Paprika', cursive !important;
    color: rgb(0, 0, 0);
    font-size: 13px;
}



/* Used for links in <a></a>  */
.link {
    text-decoration: none;
    color: #9b5188;
    font-weight: bold;
}

.form-control {
    background-color: #68d3af4b;
    font-family: 'Paprika', cursive;
}
.form-select {
    background-color: #68d3af4b;
    font-family: 'Paprika', cursive;  
}

.form-control:focus {
    border-color: #68d3af;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


         /* Buttons (header buttons are in the header section) */
/* CRUD operation buttons for events and tasks  */


.event_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: goldenrod;
    font-size: 16px;
    margin: auto 10px 15px auto;
}

.event_button:hover {
    background-color: goldenrod;
    box-shadow: inset 0 3px 5px rgba(224, 222, 216, 0.616);
}

/* Button to add an event or task */
.add_event_button {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #67c967;
    width: 300px;
}

/* Submit button to edit and add tasks and events  */
.edit_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
}

/* Buttons to add a task or event  */
.task_controls {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #67c967;
    border-color: #67c967;
}

