header {
    background-image: url('images/jade.jpg');
    background-size: cover;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;

}

body, html {
    min-height: 100vh;
    background-image: url('images/whiteMarble.jfif');
    background-size: cover;
}

label {
    font-family: 'Paprika', cursive;
    font-weight: bold;
    font-size: 18px;
    color: black;
}


            /* Header Styling and Buttons */
/* Welcome user  */
.welcome_text {
    font-family: 'Paprika', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Sets the header to full width */
.header_container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* App name */
.assist_logo {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    padding-left: 50px;
    font-style: italic;
    text-decoration: none;
    color: black;
    max-width: 300px;
}

.assist_logo:focus {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    padding-left: 50px;
    font-style: italic;
    text-decoration: none;
    color: #94707be3;
}

.assist_logo:hover {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    padding-left: 50px;
    font-style: italic;
    text-decoration: none;
    color: #ac8591e3;
}


/* buttons in the base header; also used in login/logout  */
.header_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: #fdc7d7e3 !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #26351a5b !important;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: center !important;
    box-shadow: 5px 5px #26351a5b;
}

.header_button:hover {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: #ac8591e3 !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #26351a5b !important;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: center !important;
    box-shadow: 5px 5px #26351a5b;
}


         /* Text and titles within the program  */
/* Page titles, such as My Events  */
.title_text {
    font-family: 'Paprika', cursive;
    font-size: 40px;
    font-weight: bold;
}

/* Incomplete and complete tasks on the task list */
.complete_title {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Event and task names  */
.event_text {
    text-decoration: none;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 22px;
    color: black;
}

/* Task list text  */
.task_text {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    text-align: center;
}

        /* Misc.  */
/* Controls how the image appears  */
.image_direct {
    padding: 0 !important; 
    border: 1px solid slategray;
    border-radius: 5px;
    max-width: 350px;
    margin-left: 13px;
    text-align: center; 
}

.help_image {
    max-width: 800px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/* The box around the details within the task_list.html template  */
.task_list_box {
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}

/* The vertical line on edit_task.html  */
.image_divider {
    border-left: 1px solid black;
    max-height: 500px;
}

/* Clears the picture on edit_task.html */
.tiny_text {
    font-family: 'Paprika', cursive !important;
    color: rgb(0, 0, 0);
    font-size: 13px;
}


/* Used for links in <a></a>  */
.link {
    text-decoration: none;
    color: #9b5188;
    font-weight: bold;
}
.link:hover {
    text-decoration: none;
    color: #68a768;
    font-weight: bold;
}

.form-control {
    background-color: #68d3af4b;
    font-family: 'Paprika', cursive;
    box-shadow: 5px 5px #26351a5b
}

.form-control:focus {
    border-color: #68d3af;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-select {
    background-color: #68d3af4b;
    font-family: 'Paprika', cursive;  
    box-shadow: 5px 5px #26351a5b
}
.form-select:focus {
    background-color: #ffffff;
    font-family: 'Paprika', cursive;  
    box-shadow: 5px 5px #26351a5b
}

         /* Buttons (header buttons are in the header section) */
/* CRUD operation buttons for events and tasks  */
.event_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: rgb(218, 184, 32);
    font-size: 16px;
    margin: auto 10px 15px auto;
    border: 1px solid #26351a5b !important;
    box-shadow: 5px 5px #352c1a5b
}

.event_button:hover {
    background-color: rgb(172, 136, 46);
    box-shadow: inset 0 3px 5px rgba(224, 222, 216, 0.616);
    border: 1px solid #26351a5b !important;
    box-shadow: 5px 5px #352c1a5b
}

.login_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: rgb(218, 184, 32);
    font-size: 16px;
    border: 1px solid #26351a5b !important;
    box-shadow: 5px 5px #352c1a5b
}

.login_button:hover {
    background-color: rgb(172, 136, 46);
    box-shadow: inset 0 3px 5px rgba(224, 222, 216, 0.616);
    border: 1px solid #26351a5b !important;
    box-shadow: 5px 5px #352c1a5b
}

/* Button to add an event or task */
.add_event_button {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #68a768;
    border: 1px solid #26351a5b !important;
    width: 300px;
    box-shadow: 5px 5px #352c1a5b;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.add_event_button:hover {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #518551;
    border: 1px solid #26351a5b !important;
    width: 300px;
    box-shadow: 5px 5px #352c1a5b;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logout_button {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: #fdc7d7e3 !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #26351a5b !important;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: center !important;
    box-shadow: 5px 5px #26351a5b;
    margin-right: 50px;
}

.logout_button:hover {
    font-family: 'RocknRoll One', sans-serif !important;
    background-color: #ac8591e3 !important;
    color: black !important;
    text-decoration: none !important;
    border: 1px solid #26351a5b !important;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: center !important;
    box-shadow: 5px 5px #26351a5b;
}
